<h2>Localisieren mit:</h2>
		<div>
			<div class="flex-item iconized gps">
				<a href="" data-role="button">GPS</a>
			</div>
		</div>
		<div>
			<div class="flex-item iconized wlan">
				<a href="" data-role="button">WLAN</a>
			</div>
		</div>
		<div>
			<div class="flex-item iconized tag">
				<a href="" data-role="button">TAG</a>
			</div>
		</div>