<h2>Localisieren mit:</h2>
<div data-role="content">

	<div class="flex-container">
		<div style="margin-top:10px">
			<div class="flex-item iconized gps">
				<span data-role="button">GPS</span>
			</div>
		</div>
		<div style="margin-top:10px">
			<div class="flex-item iconized wlan">
				<span data-role="button">WLAN</span>
			</div>
		</div>
		<div style="margin-top:10px">
			<div class="flex-item iconized tag">
				<span data-role="button">TAG</span>
			</div>
		</div>
	</div>
</div>