<h2 class="center">Localisieren mit:</h2>
<div data-role="content">

	<div class="center">
		<div class="bluebutton">
			<div class="flex-item iconized gps">
				<span data-role="button">GPS</span>
			</div>
		</div>
		<div class="bluebutton">
			<div class="flex-item iconized wlan">
				<span data-role="button">WLAN</span>
			</div>
		</div>
		<div class="bluebutton">
			<div class="flex-item iconized tag">
				<span data-role="button">TAG</span>
			</div>
		</div>
	</div>
</div>