<td><button class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="border-radius: 12px; color: rgb(1,66,96); background-color: rgb(207,218,227); margin-left: 10px">verlängern</button></td>
<td><div style="margin-left: 10px;text-align: center;width: 50px"><b><%= book.daysleft%></b></div></td>
<td><div style="margin-left: 10px"><i><%= book.about %></i></div></td>