	<td style="text-align: left; width: 5%"><b>ITEM:</b></td>
	<td style="text-align: left; width: 25%"><i><%= book.about %></i></td>
	<td style="text-align: left; width: 10%"><div class="expired"><b><%= book.endtime%></b></div></td>
	<td style="text-align: left; width: 25%"><button class="renew">verlängern</button></td>