<td><button class="renew" style="margin-left: 10px">verlängern</button></td>
<td><div style="margin-left: 10px"><b><%= book.endtime%></b></div></td>
<td><div style="margin-left: 10px"><i><%= book.about %></i></div></td>