<meta name="title" content="bookUP - Meine Bücher" />

<!-- Start Main - Navigation -->
<div data-role="content" data-iconpos="left" data-theme="c"	id="books">
	<div style="padding: 50px">
		<table>
			<tr>
				<td><img src="http://mdepinet.org/wp-content/uploads/person-placeholder.jpg" height="100px" /></td>
				<td>
					<table>
						<tr>
							<td><div id='patron-info'><div></td>
						</tr>
						<tr>
							<td>Gebühren: 1,99€</td>
						</tr>
						<tr>
							<td><button>abmelden</button><td>
						</tr>
					</table>
				</td>
			</tr>		
		</table>

		<div id="book-list">
			<h4>Meine Bücher:</h4>
			<table style="padding: 2px">
				<tr>
					<th>geliehen:</th>
					<th>abzugeben am:</th>
				</tr>
				<tr>
					<td><label><input type="checkbox" name="late" value="0">Buch 01</label></td>
					<td><label style="padding-left: 10px">22.01.2015</label>
				</tr>
				<tr>
					<td><label><input type="checkbox" name="late" value="0">Buch 02</label></td>
					<td><label style="padding-left: 10px">15.01.2015</label>
				</tr>
				<tr>
					<td><label><input type="checkbox" name="late" value="0">Buch 03</label></td>
					<td><label style="padding-left: 10px">01.03.2015</label>
				</tr>
			</table>

			<button style="width: 200px">verlängern</button>
		</div>

	</div>


</div>
<!-- End Main - Navigation -->