<div style="padding: 10px">
	<table>
		<tr>
			<td><b>USER:</b></td>
			<td><%= patron.name %></td>
		</tr>
		<tr>
			<td><b>E-MAIL:</b></td>	
			<td><%= patron.email %></td>
		</tr>
		<tr>
			<td><b>GÜLTIG BIS:</b></td>
			<td><%= patron.expires %></td>
		</tr>
		<tr>
			<td><b>GEBÜHREN:</b></td>	
			<td><%= patron.amount %>€</td>
		</tr>
	</table>
<div>