<div style="padding-left: 10px"><h1>Ihr Profil</h1></div>
<div style="padding: 10px">
	<table id="booksPatronTable">
		<tr>
			<td style="text-align: right"><b>USER:</b></td>
			<td><%= patron.name %></td>
		</tr>
		<tr>
			<td style="text-align: right"><b>E-MAIL:</b></td>	
			<td><%= patron.email %></td>
		</tr>
		<tr>
			<td style="text-align: right"><b>GÜLTIG BIS:</b></td>
			<td><%= patron.expires %></td>
		</tr>
		<tr>
			<td style="text-align: right"><b>GEBÜHREN:</b></td>	
			<td><%= patron.amount %>€</td>
		</tr>
	</table>
<div>